Links Used
https://chrisalbon.com/python/pandas_dropping_column_and_rows.html

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import style

style.use('fivethirtyeight')

In [2]:
berkshire = pd.read_csv('berkshire.csv')

In [3]:
berkshire.head()

,PERMNO,disc_date,fdate,change,shares,category,Unnamed: 6,1,new position: did not hold position in previous quarter,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,11308.0,20000515.0,20000331.0,0.0,200000000.0,NaN,NaN,2.0,increase: held position in previous quarter an...,NaN,NaN,NaN
1,12036.0,20000515.0,20000331.0,4706200.0,7340700.0,NaN,NaN,3.0,no change: did not change position,NaN,NaN,NaN
2,16424.0,20000515.0,20000331.0,0.0,96000000.0,NaN,NaN,4.0,"decrease: decreased position, but still mainta...",NaN,NaN,NaN
3,32379.0,20000515.0,20000331.0,2222500.0,6480700.0,NaN,NaN,5.0,liquidation: sold all holdings in security,NaN,NaN,NaN
4,38906.0,20000515.0,20000331.0,0.0,5703087.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
berkshire.describe()

,PERMNO,disc_date,fdate,change,shares,category,Unnamed: 6,1,Unnamed: 9,Unnamed: 10,Unnamed: 11
count,2129.000000,2.129000e+03,2.129000e+03,2.129000e+03,2.129000e+03,0.0,0.0,4.000000,0.0,0.0,0.0
mean,56265.484265,2.008397e+07,2.008160e+07,1.010824e+06,3.158856e+07,NaN,NaN,3.500000,NaN,NaN,NaN
std,26870.739859,4.432752e+04,4.435219e+04,1.089982e+07,6.800020e+07,NaN,NaN,1.290994,NaN,NaN,NaN
min,10145.000000,2.000052e+07,2.000033e+07,-5.882639e+07,0.000000e+00,NaN,NaN,2.000000,NaN,NaN,NaN
25%,38703.000000,2.005052e+07,2.005033e+07,0.000000e+00,2.474600e+06,NaN,NaN,2.750000,NaN,NaN,NaN
50%,59176.000000,2.008111e+07,2.008093e+07,0.000000e+00,6.344804e+06,NaN,NaN,3.500000,NaN,NaN,NaN
75%,82643.000000,2.012081e+07,2.012063e+07,0.000000e+00,2.330730e+07,NaN,NaN,4.250000,NaN,NaN,NaN
max,93089.000000,2.016022e+07,2.015123e+07,3.256348e+08,4.797043e+08,NaN,NaN,5.000000,NaN,NaN,NaN

In [8]:
berkshire.columns

Index([u'PERMNO', u'disc_date', u'fdate', u'change', u'shares', u'category',
       u'Unnamed: 6', u'1',
       u'new position: did not hold position in previous quarter ',
       u'Unnamed: 9', u'Unnamed: 10', u'Unnamed: 11'],
      dtype='object')

In [17]:
berkshire.drop(['category','Unnamed: 6'], axis=1,inplace=True)

In [18]:
berkshire.head()

,PERMNO,disc_date,fdate,change,shares,1,new position: did not hold position in previous quarter,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,11308.0,20000515.0,20000331.0,0.0,200000000.0,2.0,increase: held position in previous quarter an...,NaN,NaN,NaN
1,12036.0,20000515.0,20000331.0,4706200.0,7340700.0,3.0,no change: did not change position,NaN,NaN,NaN
2,16424.0,20000515.0,20000331.0,0.0,96000000.0,4.0,"decrease: decreased position, but still mainta...",NaN,NaN,NaN
3,32379.0,20000515.0,20000331.0,2222500.0,6480700.0,5.0,liquidation: sold all holdings in security,NaN,NaN,NaN
4,38906.0,20000515.0,20000331.0,0.0,5703087.0,NaN,NaN,NaN,NaN,NaN

In [20]:
berkshire.drop(['Unnamed: 9','Unnamed: 10','Unnamed: 11'], axis=1,inplace=True)

In [21]:
berkshire.head()

,PERMNO,disc_date,fdate,change,shares,1,new position: did not hold position in previous quarter
0,11308.0,20000515.0,20000331.0,0.0,200000000.0,2.0,increase: held position in previous quarter an...
1,12036.0,20000515.0,20000331.0,4706200.0,7340700.0,3.0,no change: did not change position
2,16424.0,20000515.0,20000331.0,0.0,96000000.0,4.0,"decrease: decreased position, but still mainta..."
3,32379.0,20000515.0,20000331.0,2222500.0,6480700.0,5.0,liquidation: sold all holdings in security
4,38906.0,20000515.0,20000331.0,0.0,5703087.0,NaN,NaN