In [1]:
import pandas as pd
import numpy as np

In [2]:
berkshire = pd.read_csv('berkshire.csv')

In [3]:
berkshire.head()

,PERMNO,disc_date,fdate,change,shares,category,Unnamed: 6,1,new position: did not hold position in previous quarter,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,11308.0,20000515.0,20000331.0,0.0,200000000.0,NaN,NaN,2.0,increase: held position in previous quarter an...,NaN,NaN,NaN
1,12036.0,20000515.0,20000331.0,4706200.0,7340700.0,NaN,NaN,3.0,no change: did not change position,NaN,NaN,NaN
2,16424.0,20000515.0,20000331.0,0.0,96000000.0,NaN,NaN,4.0,"decrease: decreased position, but still mainta...",NaN,NaN,NaN
3,32379.0,20000515.0,20000331.0,2222500.0,6480700.0,NaN,NaN,5.0,liquidation: sold all holdings in security,NaN,NaN,NaN
4,38906.0,20000515.0,20000331.0,0.0,5703087.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
berkshire.describe()

,PERMNO,disc_date,fdate,change,shares,category,Unnamed: 6,1,Unnamed: 9,Unnamed: 10,Unnamed: 11
count,2129.000000,2.129000e+03,2.129000e+03,2.129000e+03,2.129000e+03,0.0,0.0,4.000000,0.0,0.0,0.0
mean,56265.484265,2.008397e+07,2.008160e+07,1.010824e+06,3.158856e+07,NaN,NaN,3.500000,NaN,NaN,NaN
std,26870.739859,4.432752e+04,4.435219e+04,1.089982e+07,6.800020e+07,NaN,NaN,1.290994,NaN,NaN,NaN
min,10145.000000,2.000052e+07,2.000033e+07,-5.882639e+07,0.000000e+00,NaN,NaN,2.000000,NaN,NaN,NaN
25%,38703.000000,2.005052e+07,2.005033e+07,0.000000e+00,2.474600e+06,NaN,NaN,2.750000,NaN,NaN,NaN
50%,59176.000000,2.008111e+07,2.008093e+07,0.000000e+00,6.344804e+06,NaN,NaN,3.500000,NaN,NaN,NaN
75%,82643.000000,2.012081e+07,2.012063e+07,0.000000e+00,2.330730e+07,NaN,NaN,4.250000,NaN,NaN,NaN
max,93089.000000,2.016022e+07,2.015123e+07,3.256348e+08,4.797043e+08,NaN,NaN,5.000000,NaN,NaN,NaN

In [8]:
berkshire.columns

Index([u'PERMNO', u'disc_date', u'fdate', u'change', u'shares', u'category',
       u'Unnamed: 6', u'1',
       u'new position: did not hold position in previous quarter ',
       u'Unnamed: 9', u'Unnamed: 10', u'Unnamed: 11'],
      dtype='object')

In [11]:
berkshire.drop('category', axis=1)

,PERMNO,disc_date,fdate,change,shares,Unnamed: 6,1,new position: did not hold position in previous quarter,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,11308.0,20000515.0,20000331.0,0.0,200000000.0,NaN,2.0,increase: held position in previous quarter an...,NaN,NaN,NaN
1,12036.0,20000515.0,20000331.0,4706200.0,7340700.0,NaN,3.0,no change: did not change position,NaN,NaN,NaN
2,16424.0,20000515.0,20000331.0,0.0,96000000.0,NaN,4.0,"decrease: decreased position, but still mainta...",NaN,NaN,NaN
3,32379.0,20000515.0,20000331.0,2222500.0,6480700.0,NaN,5.0,liquidation: sold all holdings in security,NaN,NaN,NaN
4,38906.0,20000515.0,20000331.0,0.0,5703087.0,NaN,NaN,NaN,NaN,NaN,NaN
5,48506.0,20000515.0,20000331.0,11877200.0,24000000.0,NaN,NaN,NaN,NaN,NaN,NaN
6,53225.0,20000515.0,20000331.0,0.0,1727765.0,NaN,NaN,NaN,NaN,NaN,NaN
7,59176.0,20000515.0,20000331.0,0.0,50536900.0,NaN,NaN,NaN,NaN,NaN,NaN
8,68144.0,20000515.0,20000331.0,-860000.0,5781400.0,NaN,NaN,NaN,NaN,NaN,NaN
9,70519.0,20000515.0,20000331.0,-2550024.0,5512325.0,NaN,NaN,NaN,NaN,NaN,NaN
10,76638.0,20000515.0,20000331.0,3625000.0,15750000.0,NaN,NaN,NaN,NaN,NaN,NaN
11,84073.0,20000515.0,20000331.0,0.0,816655.0,NaN,NaN,NaN,NaN,NaN,NaN
12,11308.0,20000814.0,20000630.0,0.0,200000000.0,NaN,NaN,NaN,NaN,NaN,NaN
13,12036.0,20000814.0,20000630.0,0.0,7340700.0,NaN,NaN,NaN,NaN,NaN,NaN
14,15077.0,20000814.0,20000630.0,1520900.0,1520900.0,NaN,NaN,NaN,NaN,NaN,NaN
15,15720.0,20000814.0,20000630.0,921000.0,921000.0,NaN,NaN,NaN,NaN,NaN,NaN
16,16424.0,20000814.0,20000630.0,0.0,96000000.0,NaN,NaN,NaN,NaN,NaN,NaN
17,32379.0,20000814.0,20000630.0,519300.0,7000000.0,NaN,NaN,NaN,NaN,NaN,NaN
18,38906.0,20000814.0,20000630.0,0.0,5703087.0,NaN,NaN,NaN,NaN,NaN,NaN
19,47941.0,20000814.0,20000630.0,3636800.0,3636800.0,NaN,NaN,NaN,NaN,NaN,NaN
20,48506.0,20000814.0,20000630.0,0.0,24000000.0,NaN,NaN,NaN,NaN,NaN,NaN
21,49905.0,20000814.0,20000630.0,4894500.0,4894500.0,NaN,NaN,NaN,NaN,NaN,NaN
22,53225.0,20000814.0,20000630.0,0.0,1727765.0,NaN,NaN,NaN,NaN,NaN,NaN
23,57665.0,20000814.0,20000630.0,6440600.0,6440600.0,NaN,NaN,NaN,NaN,NaN,NaN
24,59176.0,20000814.0,20000630.0,101073800.0,151610700.0,NaN,NaN,NaN,NaN,NaN,NaN
25,59192.0,20000814.0,20000630.0,2109800.0,2109800.0,NaN,NaN,NaN,NaN,NaN,NaN
26,68144.0,20000814.0,20000630.0,860000.0,6641400.0,NaN,NaN,NaN,NaN,NaN,NaN
27,70519.0,20000814.0,20000630.0,122787.0,5635112.0,NaN,NaN,NaN,NaN,NaN,NaN
28,75789.0,20000814.0,20000630.0,48013200.0,48013200.0,NaN,NaN,NaN,NaN,NaN,NaN
29,76638.0,20000814.0,20000630.0,0.0,15750000.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
3210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3227,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3232,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3233,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3234,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3237,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
berkshire.head()

,PERMNO,disc_date,fdate,change,shares,category,Unnamed: 6,1,new position: did not hold position in previous quarter,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,11308.0,20000515.0,20000331.0,0.0,200000000.0,NaN,NaN,2.0,increase: held position in previous quarter an...,NaN,NaN,NaN
1,12036.0,20000515.0,20000331.0,4706200.0,7340700.0,NaN,NaN,3.0,no change: did not change position,NaN,NaN,NaN
2,16424.0,20000515.0,20000331.0,0.0,96000000.0,NaN,NaN,4.0,"decrease: decreased position, but still mainta...",NaN,NaN,NaN
3,32379.0,20000515.0,20000331.0,2222500.0,6480700.0,NaN,NaN,5.0,liquidation: sold all holdings in security,NaN,NaN,NaN
4,38906.0,20000515.0,20000331.0,0.0,5703087.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN